<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <%= link_to 'Inicio', home_index_url, { class: 'blog-nav-item' } %>
      <%= link_to 'Ayuda', ayuda_index_path, { class: 'blog-nav-item' } %>
    </nav>
  </div>
</div>